nav ul li {
  display: inline;
  margin: 10px;
}
.intro {
  background-color: rgb(255, 123, 0);
}
a {
  text-decoration: none;
}
#para {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
span {
  color: darkblue;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.Res {
  background-color: rgb(255, 123, 0);
}
